*,
*:before,
*:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
body {
    margin: 0;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

ul#menu {
    padding: 0;
    text-align: center;
    z-index: 1;
}

ul#menu li {
    display: inline-block;
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 0px;
    font-weight: 800;
    cursor: pointer;
}

ul#menu li:hover, 
ul#menu li.current{
    background-color: black;
    color: white;
}

.columns{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 15px;
    min-height: 403px;
}
footer {
    font-family: sans-serif;
    padding: 1.5em;
    position: relative;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    color: #999;
    font-size: 11px;
}
footer span {
    color: #b5adad;
    font-weight: 800;
    color: #838383;
}
.key {
    padding: 1.5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
.key div{
    width: 80px;
    height: 16px;
    margin: 0 10px;
    padding: 0;
    display: inline-block;
    text-align: left;
}
.key div.dph:before{
    content: url('../img/doot0.svg');
    width: 15px;
    height: 16px;
}
.key div.dnph:before{
    content: url('../img/doot1.svg');
    width: 15px;
    height: 16px;
}

.left,
.right {
    /* border: 1px solid  #ccc;*/
    padding: .1em;
    font-family: 'Playfair Display', serif;
    min-height: 400px;
    width: 49%;
    position: relative;
}
.left {
    border-right: 1px dotted #000;
    float: left;
}
.right {
    float: right;
}
a.doot .tooltip blockquote{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}
a.doot .tooltip blockquote b{
    font-size: 18px;
    font-weight: 700;
}
.columns .left .ph01,
.columns .left .ph02,
.columns .left .ph03,
.columns .left .ph04,
.columns .left .ph05,
.columns .left .ph06,
.columns .left .ph07,
.columns .left .ph08,
.columns .left .ph09,
.columns .left .ph10{top: 50%; left: 50%;}

.columns .right .ph01,
.columns .right .ph02,
.columns .right .ph03,
.columns .right .ph04,
.columns .right .ph05,
.columns .right .ph06,
.columns .right .ph07,
.columns .right .ph08,
.columns .right .ph09,
.columns .right .ph10,
.columns .right .ph11,
.columns .right .ph12{top: 50%; right: 50%;}


#hint{
    background-image: url(../img/hint.png);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 88px;
    height: 57px;
    position: absolute;
    bottom: calc(50% - 18px);
    right: calc(50% - 44px);
    background-color: white;
    padding: 5px 0;
    box-sizing: content-box;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .left, .right{width: 300px;border: 0;}
    .columns{height: 825px;}
}