---
layout: default

title: Cost Of Life
sub_title: Big Pharma’s Taxing Situation

masthead_pic: /img/masthead.png

---
<div class="home">
  <a name="data" class="anchor"></a>

  {% include map.html %}
  
  <div class="container-content container">
    <div class="row">

      <div class="col-md-6">
        <a name="about" class="anchor"></a>

        <h1 class="section-title">About this project</h1>

        <p class="post">
        The Cost of Life is a project by the African Network of Centers for Investigative Reporting (ANCIR) that focuses on analysis, investigation and reportage of the medicines landscape, specifically patents and generics, the dialectic of which has often been limited to the positives of generics (cheap medicine that mimics expensive patents) and the evils of patents that are nonetheless critical for innovation of new and better drugs.
        </p>
        
        <p class="post">
        Using publicly accessible information, reports, interviews and other sources, we show that an estimated 70 percent or more of patent costs is typically the product of mispricing and tax subsidies rather than research and development (R&D); and that major pharmaceutical companies are invested and incentivized by price-fixing monopolies that are threatened by new and better drugs produced by other companies. In fact, universities, small research centers and publicly funded entities comprise the main source of new priority and innovation drugs that are later commercialized by Big Pharma. That is, whether the ‘superior’ drug is produced as a generic or a patent is irrelevant: All that matters is sustaining an artificial market dependent on one or two blockbuster drugs for as long as possible.
        </p>
        
        <br/>
        <p><a class="text-danger" href="costoflife.html"><u>Read full story</u></a></p>
        <p><a class="text-danger" href="about.html"><u>About this project</u></a></p>

      </div>
      <div class="col-md-6">
        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <a href="costoflife.html#viztwo" class="thumbnail">
              <img src="img/tax.jpg" alt="Data viz two"/>
              <div class="caption">
                <h3>assets, tax comparisons</h3>
              </div>
            </a>
          </div>

          <div class="col-sm-6 col-xs-12">
            <a href="costoflife.html#vizthree" class="thumbnail">
              <img src="img/price.jpg" alt="Data viz three"/>
              <div class="caption">
                <h3>medicine price comparisons</h3>
              </div>
            </a>
          </div>

        </div> <!-- /.row -->
        <div class="row">
          
          <div class="col-sm-6 col-xs-12">
            <a href="costoflife.html#vizone" class="thumbnail">
              <img src="img/marketcap.jpg" alt="Data viz one"/>
              <div class="caption">
                <h3>market cap comparisons</h3>
              </div>
            </a>
          </div>

          <div class="col-sm-6 col-xs-12">
            <a href="costoflife.html#vizfour" class="thumbnail">
              <img src="img/copyright.png" alt="Data viz four"/>
              <div class="caption">
                <h3>patented vs. generic medicines</h3>
              </div>
            </a>
          </div>

        </div> <!-- /.row -->

      </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->

    <hr class="branded"/>

    {% include key-findings.html %}

    <hr class="branded"/>

    {% include main.html %}

  </div> <!-- /.container -->

</div> <!-- /.home -->
