<div id="DV-viewer-21183-Abbvie-2014-10K-Pg-94" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21183-Abbvie-2014-10K-Pg-94.js", {
  container: "#DV-viewer-21183-Abbvie-2014-10K-Pg-94"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21183/Abbvie-2014-10K-Pg-94.pdf">Abbvie-2014-10K-Pg-94 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21183/Abbvie-2014-10K-Pg-94.txt">Abbvie-2014-10K-Pg-94 (Text)</a>
</noscript>

