<div class="media afrileaks" style="position: relative;">
  <a href="https://afrileaks.org" target="_blank">
    <span class="hyperspan"></span>
  </a>
  <div class="media-left">
    <a href="https://afrileaks.org" target="_blank">
      <img class="media-object" src="{{ site.baseurl }}/img/logos/afrileaks_black.png" alt="AfriLEAKS logo">
    </a>
  </div>
  <div class="media-body">
    <p class="lead">Securely share <u>information</u> with Africa's finest journalists</p>
  </div>
  <p class="text-center"><a href="https://afrileaks.org" target="_blank" class="btn btn-default">Blow The Whistle</a></p>
</div>