<div id="DV-viewer-21189-Amgen-2014-10K-Pg-20" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21189-Amgen-2014-10K-Pg-20.js", {
  container: "#DV-viewer-21189-Amgen-2014-10K-Pg-20"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21189/Amgen-2014-10K-Pg-20.pdf">Amgen-2014-10K-Pg-20 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21189/Amgen-2014-10K-Pg-20.txt">Amgen-2014-10K-Pg-20 (Text)</a>
</noscript>

