<div id="DV-viewer-21190-Baxter-2014-10-K-Pg-98" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21190-Baxter-2014-10-K-Pg-98.js", {
  container: "#DV-viewer-21190-Baxter-2014-10-K-Pg-98"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21190/Baxter-2014-10-K-Pg-98.pdf">Baxter-2014-10-K-Pg-98 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21190/Baxter-2014-10-K-Pg-98.txt">Baxter-2014-10-K-Pg-98 (Text)</a>
</noscript>
