<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <style>
    body { 
        margin:0;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0; 
        font-family: Arial, Helvetica, sans-serif;
        }
    svg { width:100%; height: 100% }
    .hidden {
        display: none;
    }
    
 .symptoms {
      font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
 } 
 #textbox {
	position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
	width: 170px;
	height: 90px;
	padding: 5px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	pointer-events: none;
	z-index: 10;
}
.note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    fill: #D3D3D3;
    
}

.legend{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    fill: #000000;
}


    
  </style>
</head>

<body>

    
    <div id="textbox" class="hidden">
        <strong><span id="brand_name"></span></strong> (brand): R <span id="brand_price"></span>
       <strong><p><span id="generic_name"></span></strong> (generic): R <span id="generic_price"></span></p>
       <p> Generic is <strong><span id="savings"></span>%</strong> cheaper</p>
    </div>
    
    <div id="svg_div" class="centered"></div>

  <script>
    
  	var brand_drugs=[          
{name_gen: "Rosvator", name: "Crestor", dose: 30, price: 6.03, id:"b1", total:180.9, generic_price:4.39, sym: "High cholesterol"},
{name_gen: "Venteze Cfc Free", name: "Ventolin HFA", dose: 200, price: 0.53, id:"b2", total:106.14, generic_price:0.48, sym: "Asthma"},
{name_gen: "Rinelon", name: "Nasonex", dose: 140, price: 2.47, id:"b5", total:346.47, generic_price:1.96, sym: "Inflammation"},
{name_gen: "Sildenafil Cipla", name: "Viagra", dose: 4, price: 124.69, id:"b4", total:498.79, generic_price:24.61, sym: "Erectile dysfunction"},
{name_gen: "Cipla Oseltamivir", name: "Tamiflu", dose: 10, price: 44.00, id:"b3", total:440.04, generic_price:32.66, sym: "Flu"},
{name_gen: "Diolo Co", name: "Diovan", dose: 28, price: 9.34, id:"b6", total:261.71, generic_price:6.18, sym: "Blood pressure"},
{name_gen: "Panamor At-50", name: "Voltaren", dose: 20, price: 4.37, id:"b7", total:87.59, generic_price:0.60, sym:"Inflammation" },
{name_gen: "Tranexamic Acid Medwich", name: "Cyklokapron T", dose: 100, price: 8.43, id:"b8", total:843.48, generic_price:6.02, sym: "Blood loss"},
{name_gen: "Rinavo", name: "Norvir", dose: 60, price: 1.52, id:"b9", total:91.26, generic_price:1.22, sym: "HIV/AIDS"},
{name_gen: "Azor", name: "Xanor", dose: 100, price: 2.17, id:"b10", total:217.83, generic_price:1.10, sym: "Anxiety"},
{name_gen: "Adco-Efavirenz", name: "Atripla", dose: 30, price: 25.00, id:"b11", total:750.02, generic_price:5.60, sym: "HIV"}
,
]


var svg = d3.select("body").select("div#svg_div").append("svg");

var rScale = d3.scale.linear()
                        .domain([0, d3.max(brand_drugs, function(d) {
                                          return d.price;
                                  })])
                        .range([100, 5000]);
                        
var rScaleIncome = d3.scale.linear()
                        .domain([0, d3.max(brand_drugs, function(d) {
                                          return d.total;
                                  })])
                        .range([100, 5000]);        
                           
                                   
    

    
//BRAND NAME DRUGS: CIRCLES
    svg.selectAll("circle.brand")
    		.data(brand_drugs)
    		.enter()
    		.append("circle")
            .attr("class", "brand")
            .attr("id", function(d){return d.id;})
    		.attr("cx", function(d,i){return 50+i*70;})
           .attr("r", function(d) {
                var area = rScale(d.price);
                var radius = Math.sqrt(area / 3.14159265359);
                return radius;
    })
            .attr("cy", function(d){return 130-d3.select(this).attr("r");}
        )
            .style("stroke-width", "1px")
            .style("stroke", "#000")
            .style("fill", "#e377c2")
            .style("opacity", 0.5);


//GENERIC DRUGS: CIRCLES    		
     svg.selectAll("circle.generic")
    		.data(brand_drugs)
    		.enter()
    		.append("circle")
            .attr("class", "generic")
    		.attr("cx", function(d,i){return 50+i*70;})
        .attr("r", function(d) {
      var area = rScale(d.generic_price);
      var radius = Math.sqrt(area / 3.14159265359);
      return radius;
    })
        .attr("cy", function(d){return 130-d3.select(this).attr("r");})
        .style("stroke", "#FFFFFF")
        .style("stroke-width", "0.5px")
        .style("fill", "#6baed6")
        .style("opacity", 0.8);
        
 //Text labels   		
       svg.selectAll("text.symptoms")
       .data(brand_drugs)
       .enter()
       .append("text")
       .attr("class", "symptoms")
       .text(function(d) {return d.sym;})
       .attr("y", 145)
       .attr("x", function(d,i){
           
           if(i===0){
               return 10
           }
           else if(i===1){
               return 100
           }
           else if(i===2){
               return 150
           }           
           
            else if(i===3){
               return 220
           }
            else if(i===4){
               return 325
           }
 
             else if(i===5){
               return 360
           }  
           
            else if(i===6){
               return 445
           }   
            else if(i===7){
               return 520
           }   
            else if(i===8){
               return 585
           }     
            else if(i===9){
               return 665
           }    
            else if(i===10){
               return 742
           }                                                        

           return 50+i*65;});
            
svg.append("circle")
    	   .attr("cx", 50)
           .attr("r", 5)
            .attr("cy", 40)
            .style("fill", "#e377c2")
            .style("opacity", 0.5);
            
      svg.append("text")
      .text("Generic")
      .attr("x", 60)
      .attr("y", 23)
      .attr("class", "legend");            

svg.append("circle")
    	   .attr("cx", 50)
           .attr("r", 5)
            .attr("cy", 20)
            .style("fill", "#6baed6")
            .style("opacity", 0.5);  
            
      svg.append("text")
      .text("Brand")
      .attr("x", 60)
      .attr("y", 45)
      .attr("class", "legend");                       
     
      svg.append("text")
      .text("Drug comparisons made using lowest doses available on mpr.code4sa.org database")
      .attr("x", 430)
      .attr("y", 15)
      .attr("class", "note");
      
					svg.selectAll("circle").on("mouseover", function(d) {
						
						var xPosition = parseFloat(d3.select(this).attr("cx"));
	 					var yPosition = parseFloat(d3.select(this).attr("cy"));
	 					
	 					d3.select("#textbox")
	 						.style("left", xPosition + "px")
	 						.style("top", yPosition + "px")						
	 					
	 					d3.select("#textbox")
							.classed("hidden", false);
                            
                            
                        d3.select("#textbox")				
                        .select("#brand_price")
                        .text(d.price.toString());
                        
                        d3.select("#textbox")				
                        .select("#brand_name")
                        .text(d.name);
                        
                        d3.select("#textbox")				
                        .select("#generic_name")
                        .text(d.name_gen.toString());      
                        
                        d3.select("#textbox")				
                        .select("#generic_price")
                        .text(d.generic_price);      
                        
                        d3.select("#textbox")				
                        .select("#savings")
                        .text(Math.floor(((d.price-d.generic_price)/d.price)*100));                                                                   
	 			   })
	 			   .on("mouseout", function() {
	 					
	 					d3.select("#textbox").classed("hidden", true)	
	 			   });	


  </script>
</body>
