<footer>

  <div class="clearfix ancir">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-6">
          <p><a href="http://investigativecenters.org/" target="_blank">About Us</a></p>
          <p><a href="#">Our Work</a></p>
          <p><a href="#">Join Us</a></p>
          <p><a href="#">Support Us</a></p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h1>Connect</h1>
          <p>
            <a class="sociallinks" href="https://www.facebook.com/AfricaInvestigated" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a class="sociallinks" href="https://twitter.com/AfricanCIR" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a class="sociallinks" href="https://medium.com/african-c-i-r" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a class="sociallinks" href="https://github.com/ANCIR" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a class="sociallinks" href="mailto:hello@investigativecenters.org" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </p>
        </div>
        <div class="clearfix visible-sm visible-xs"></div>
        <div class="visible-sm visible-xs"><br/><br/></div>
        <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-4 col-xs-12">
          <h1>Newsletter</h1>
          <p><a class="btn btn-lg btn-inverse" href="http://eepurl.com/burS8v" target="_blank">JOIN OUR MAILING LIST</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright container">
    <div class="row">
      <div class="col-sm-9">
        <p>© ANCIR 2015</p>
        <p>
          ANCIR is not responsible for the content of external sites |
          <a href="#">Privacy Policy</a> |
          <a href="#">PAIA Manual</a> |
          <a href="#">Terms of Use</a>
        </p>
      </div>
      <div class="col-sm-3 text-right">
        <p>ANCIR is being incubated by <a href="http://www.codeforafrica.org" target="_blank" class="cfafrica">Code for Africa</a></p>
      </div>
    </div>
  </div> <!-- /.ancir -->

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="{{ '/js/jquery.tweetHighlighted.js' | prepend: site.baseurl }}"></script>


<script src="{{ '/js/bootstrap.fancyfixedscrollnav.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/bootstrap.twonavs.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/js/jquery.matchHeight.js' | prepend: site.baseurl }}" type="text/javascript"></script>

<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      $('.col-inner').matchHeight();

      $('body').tweetHighlighted({
        // html node to use as the 'Tweet' button
        node: '<a href="#"><span class="fa fa-twitter"></span></a>',
        // class attribute to attach to the node
        cssClass: 'btn btn-info',
        // minimum length of selected text needed to show the 'Tweet' button
        minLength: 6,
        // maximum length of selected text after which the 'Tweet' button is not shown
        maxLength: 144 * 2,
        // any extra string to attach to every tweet (mostly used to attach urls)
        extra: '- ' + document.URL,
        // twitter 'via' handle (basically appends 'via @twitterhandle' to the tweet)
        via: 'AfricanCIR',
        // arguments to pass to the window.open() function
        popupArgs: 'width=600,height=600,toolbar=0,location=0'
      });
    });
  }(jQuery));

</script>

{% if page.custom_js %}
{% for js_file in page.custom_js %}
<script src="{{ site.baseurl }}/js/{{ js_file }}.js" type="text/javascript"></script>
{% endfor %}
{% endif %}

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
