<!-- Page Content -->
<div class="container">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a name="funders"></a>Funders
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.osiwa.org/" target="_blank">
            <img class="img-responsive" src="/img/osiwa.jpg" alt="OSIWA">
        </a>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://od4d.net/" target="_blank">
            <img class="img-responsive" src="/img/od4d.png" alt="OD4D">
        </a>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://webfoundation.org/" target="_blank">
            <img class="img-responsive" src="/img/www.png" alt="WWW Foundation">
        </a>
    </div>
</div>
<!-- /.row -->
