<div id="DV-viewer-21184-Gilead-2014-10K-Pg-115" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21184-Gilead-2014-10K-Pg-115.js", {
  container: "#DV-viewer-21184-Gilead-2014-10K-Pg-115"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21184/Gilead-2014-10K-Pg-115.pdf">Gilead-2014-10K-Pg-115 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21184/Gilead-2014-10K-Pg-115.txt">Gilead-2014-10K-Pg-115 (Text)</a>
</noscript>

