<div id="DV-viewer-21185-J-amp-J-2014-10K-Pg-16" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21185-J-amp-J-2014-10K-Pg-16.js", {
  container: "#DV-viewer-21185-J-amp-J-2014-10K-Pg-16"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21185/J-amp-J-2014-10K-Pg-16.pdf">J-amp-J-2014-10K-Pg-16 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21185/J-amp-J-2014-10K-Pg-16.txt">J-amp-J-2014-10K-Pg-16 (Text)</a>
</noscript>

