<div class="key-findings">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h4 class="section-title">key findings</h4>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>1</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">The pharmaceutical industry’s abuse of transfer pricing and thin capitalisation strategies 
              illicitly inflates the research and development (R&D) costs of new medicines by an estimated 80%, pushing the cost 
              of medicines out of the reach of millions of the world’s poorest communities.</h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>2</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Pharmaceutical industry’s financial model for medicine R&D and the ‘intangible capital’ that 
              underpins the resulting IP is designed to actively prevent competitive innovation by locking knowledge into 
              monopolies that ‘upstarts’ cannot penetrate. The result is millions of unnecessary deaths across the world.</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>3</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">In Africa, over 60% of the pharmaceutical industry’s global drug profits are generated 
              largely as a result of the industry’s manipulation of the pricing system, aided by poor regulation against 
              direct-to-consumer marketing and the dangerous use of ‘me too’ and ‘off label’ drug use prescribed by doctors.</h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>4</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Pharmaceutical industry’s R&D costs (estimated at $228bn/yr) are dwarfed by the industry’s 
              spending on marketing and administration (estimated at $740bn/yr). .</h4>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-sm-12 hidden-lg">
      <hr/>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-lg-offset-0 col-lg-3">
      {% include afrileaks-embed.html %}
    </div>
  </div>
</div>

