<div class="key-findings">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h2 class="section-title">Key findings</h2>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>1</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">An analysis of the public disclosures of nine pharmaceutical companies show they ducked paying approximately $140 billion in taxes by holding more than $405 billion of their income offshore. In reality, the funds are already ‘onshore’ in the US via banks. 
              </h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>2</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Taxes, not pharmaceutical profits, subsidize the majority of research funding for new drug development: In 2006, for instance, 84 percent of research funding for 48 new drug innovations came from public sources such as the National Institutes of Health (NIH).
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>3</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Publicly funded institutions, universities and small research hubs produce the innovation that Big Pharma commercialises at about 10% of the latter’s claimed R&D costs. 
              </h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>4</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Pharmaceutical industry’s R&D costs (estimated at $228bn/yr) are dwarfed by the industry’s 
              spending on marketing and administration (estimated at $740bn/yr). .</h4>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-sm-12 hidden-lg">
      <hr/>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-lg-offset-0 col-lg-3">
      {% include afrileaks-embed.html %}
    </div>
  </div>
</div>

