<div id="DV-viewer-21191-Merck-2014-10-K-Pg-75" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21191-Merck-2014-10-K-Pg-75.js", {
  container: "#DV-viewer-21191-Merck-2014-10-K-Pg-75"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21191/Merck-2014-10-K-Pg-75.pdf">Merck-2014-10-K-Pg-75 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21191/Merck-2014-10-K-Pg-75.txt">Merck-2014-10-K-Pg-75 (Text)</a>
</noscript>

