<div id="DV-viewer-21187-Pfizer-10K-2014-Pg-81" class="DV-container"></div>
<script src="//s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/viewer/loader.js"></script>
<script>
  DV.load("https://sourceafrica.net/documents/21187-Pfizer-10K-2014-Pg-81.js", {
  container: "#DV-viewer-21187-Pfizer-10K-2014-Pg-81"
  });
</script>
<noscript>
  <a href="https://sourceafrica.net/documents/21187/Pfizer-10K-2014-Pg-81.pdf">Pfizer-10K-2014-Pg-81 (PDF)</a>
  <br />
  <a href="https://sourceafrica.net/documents/21187/Pfizer-10K-2014-Pg-81.txt">Pfizer-10K-2014-Pg-81 (Text)</a>
</noscript>

