<div class="row">
    <div class="col-md-4">
        <h2>Tunisia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Senegal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <!-- /.col-md-4 -->
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Mali</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Botswana</h2>
        <p>The president of Botswana’s highest court, Ian Kirby, has invested in seven offshore companies domiciled and registered in a tax haven of the British Virgin Islands, writes NTIBINYANE NTIBINYANE.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/botswana/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Namibia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Uganda</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
</div>
