<div class="row">
    <div class="col-md-4">
        <h2>DRC</h2>
        <p>
        The Panama Papers have thrown fresh light on the illicit nature of copper mining concession deals in the Democratic Republic of Congo, writes Barry Sergeant
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/drc-copper-mining/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Nigeria</h2>
        <p>
        The head of the Nigeria Senate is accused of failing to declare his property and operating foreign accounts while in public office, write Emmanuel Mayah and Joshua Olufemi.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/nigeria-senate-president/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Namibia</h2>
        <p>
        Letitia Diergaardt, a receptionist in Namibia, is an owner and shareholder of nine different offshore companies, despite allegedly knowing nothing about it, writes Shinovene Immanuel.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/namibia-letitia-diergaardt/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>
<!-- End of row 1 -->

<div class="row">
    <div class="col-md-4">
        <h2>Kenya</h2>
        <p>
        Kenya’s Deputy Chief Justice Kalpana Rawal was a director and a shareholder of four companies located in a known tax haven, writes Jacqui Kubania.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/kenya/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>DRC</h2>
        <p>
        Despite international laws requiring the disclosure of the origins of gold, a tranche of leaked documents points to unsavoury behaviour by companies and banks trading in commodities, writes Khadija Sharife.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/drc/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Botswana</h2>
        <p>The president of Botswana’s highest court, Ian Kirby, invested in seven offshore companies domiciled and registered in the British Virgin Islands, writes Ntibinyane Ntibinyane.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/botswana/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<br/>
<hr>
<!-- End of row 2 -->

<div class="row">
    <div class="col-md-4">
        <h2>Namibia</h2>
        <p>The tender for the Walvis Bay port in Namibia is tied to a Trinidadian politician with links to Brazil’s ‘Operation Car Wash’ scandal, writes Shinovene Immanuel.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/namibia/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>Dodgy dealings within the Steinmetz Group seems to indicate undervaluing of diamonds, which is costing Sierra Leone tax payments, reports Khadija Sharife and Silas Gbandia.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/sierra-leone/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Zimbabwe</h2>
        <p>The leaks show an offshore company called HR Consultancy had been created  to  pay salaries to Zimplats, which is largely owned  by South Africa’s Impala Platinum Mines. However, it denies any knowledge of the HR Consultancy and its purpose, writes Ray Choto.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/zimbabwe/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>
<!-- End of row 3 -->

<div class="row">
    <div class="col-md-4">
        <h2>Guinea</h2>
        <p>
        Leaked documents give new insights into the corporate structure of the companies involved in one of the world’s biggest mining rights scandals, writes Khadija Sharife.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/guinea/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Uganda</h2>
        <p>Leaked documents show the paper trail of the Heritage Oil and Gas Ltd Company’s attempts at avoiding tax payment in Uganda, writes TABU BUTAGIRA.</p>
        <a class="btn btn-default" href="{{ site.baseurl }}/uganda/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Angola</h2>
        <p>
        Leaks from the Panama Papers reveal a web of intrigue about how companies got their rights to drill for oil in Angola, writes Khadija Sharife.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/angola-oil/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>
<!-- End of row 4 -->

<div class="row">
    <div class="col-md-4">
        <h2>Nigeria</h2>
        <p>Africa’s richest man, Aliko Dangote, and his brother Sayyu Dantata have been linked to shell companies in tax havens, writes Joshua Olufemi and Emmanuel Mayah.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/nigeria/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Namibia</h2>
        <p>
        Leaked documents show details about the connection between a convicted Italian mafioso and Zacky Nujoma, the youngest son of Namibia’s founding president Sam Nujoma, write Tileni Mongudhi and Ndanki Kahiurika.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/namibia-mafia/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Angola</h2>
        <p>Opaque associations with the vice president’s stepson, a disgraced German bank president, people convicted of financial mismanagement and a private Russian bank indicate that Angola’s sovereign wealth fund may be little more than a laundering tool, writes Khadija Sharife.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/angola/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>
<!-- End of row 5 -->


<div class="row">
    <div class="col-md-4">
        <h2>Senegal</h2>
        <p>Le procès pour enrichissement illicite de Karim Wade, fils de l’ancien président sénégalais Abdoulaye Wade, a connu son verdict il y a un an. Il s’était terminé avec la condamnation par la Cour de répression de l’enrichissement illicite (Crei) de M. Wade-fils et de ses co-accusés à des peines de prison ferme.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/senegal-wade/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Tunisia</h2>
        <p>
        Dans l’univers des paradis fiscaux et des sociétés offshore, Samir Abdelli nage comme un poisson dans l’eau. D’après les documents fuités de Mossack Fonseca, l’avocat d’affaires est actionnaire d’une première société, avocat d’une seconde et gère les montages financiers de sociétés “prêtes à l’emploi”.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/tunisia-samir-abdelli/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Mali</h2>
        <p>Les fuites révèlent que le milliardaire Seydou Kane , l'homme d'affaires puissance Mali-Gabonaise, a créé deux sociétés offshore. Il est également impliqué dans une affaire de blanchiment d'argent à Paris.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/mali/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>
<!-- End of row 6 -->


<div class="row">
    <div class="col-md-4">
        <h2>Tunisia</h2>
        <p>En plein entre-deux-tours de l’élection presidentielle, Mohsen Marzouk, alors directeur de campagne de Béji Caid Essebsi, prend contact avec Mossack Fonseca, pour ouvrir une société offshore.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/tunisia-marzouk/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Senegal</h2>
        <p>Homme d'affaires sénégalais a créé des sociétés offshore grâce à l'entreprise Mossack Fonseca. Les documents citent également l'architecte Pierre Goudiaby Atepa et Aliou Sow, l'entrepreneur du Sahel Société des entreprises (CSE ).
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/senegal-goudaiby/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Tunisia</h2>
        <p>Une fuite de documents internes révèle la création de sociétés offshore via Panama et expose comment le droit tunisien est contourné pour éviter de payer des impôts sur les actifs à l'étranger.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/tunisia/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- End of row 7 -->
