<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Investigations</h2>
        <p>
        New revelations by the International Consortium of Investigative Journalists (ICIJ), in collaboration with 18 news organizations in Africa, expose fresh details about the misuse of corporate secrecy and hidden wealth in Africa, the world’s poorest continent
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/latest-investigations/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Nigeria</h2>
        <p>
        In the wake of international and local investigations and court cases, leaked information reveals the fall from grace of one of Nigeria’s corrupt and super wealthy oil executive, writes Will Fitzgibbon.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/nigeria-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>
        A community in Sierra Leone continues to oppose a diamond mining operation in its city that has links to murky offshore shell companies and dubious global diamond dealings, write Silas Gbandia, Cooper Inveen, Will Fitzgibbon, Khadija Sharife and Michael Hudson.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/sierra-leone-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Burkina Faso</h2>
        <p>
        Richard Warren Hitt. Ce nom est quasi inconnu de la plupart des Burkinabè. Et pourtant cet Américain, naturalisé burkinabèa pendant longtemps piloté le Pic du Nahouri— l'avion de l’ancien président, Blaise Compaoré. Or ce pilote est cité dans la fameuse affaire des Panama Papers, révélations sur les flux financiers illicites
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/burkina-faso-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->

</div>
