<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Nigeria</h2>
        <p>
        In the wake of international and local investigations and court cases, leaked information reveals the fall from grace of one of Nigeria’s corrupt and super wealthy oil executive, writes Will Fitzgibbon.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/nigeria-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>
        A community in Sierra Leone continues to oppose a diamond mining operation in its city that has links to murky offshore shell companies and dubious global diamond dealings, write Silas Gbandia, Cooper Inveen, Will Fitzgibbon, Khadija Sharife and Michael Hudson.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/sierra-leone-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
