<div class="row">
    <div class="col-md-4">
        <h2>New Revelations</h2>
        <p>
        New revelations by the International Consortium of Investigative Journalists (ICIJ), in collaboration with 18 news organizations in Africa, expose fresh details about the misuse of corporate secrecy and hidden wealth in Africa, the world’s poorest continent
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/latest-investigations/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Nigeria</h2>
        <p>
        In the wake of international and local investigations and court cases, leaked information reveals the fall from grace of one of Nigeria’s corrupt and super wealthy oil executive, writes Will Fitzgibbon.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/nigeria-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>
        A community in Sierra Leone continues to oppose a diamond mining operation in its city that has links to murky offshore shell companies and dubious global diamond dealings, write Silas Gbandia, Cooper Inveen, Will Fitzgibbon, Khadija Sharife and Michael Hudson.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/sierra-leone-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>


<div class="row">
    <div class="col-md-4">
        <h2>Algeria</h2>
        <p>
        The Panama Papers have shed further light on Algerian businessman Farid Bedjaoui’s connection to bribes worth $275 million for securing Algerian oil and gas contracts for Italian energy company Saipem, writes Will Fitzgibbon.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/algeria/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Egypt</h2>
        <p>
        The family of Egyptian business tycoon Salah Diab used a corporate network of local and offshore companies in an oil field development deal it signed with the Egyptian government, writes Hisham Allam
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/egypt/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Safari</h2>
        <p>
        As visitors come to see what’s in Africa, some safari operators’ profits head offshore, writes Will Fitzgibbon
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/safari/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->

</div>
<hr>



<div class="row">
    <div class="col-md-4">
        <h2>South Africa</h2>
        <p>
        Investec’s claims that it has no ties to Panama-based law firm Mossack Fonseca are undermined by the mention of its name in 24,732 documents in the Panama Papers and existing trails of business connections in known tax havens, writes Barry Sergeant
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/south-africa/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Angola</h2>
        <p>
        In addition to the nepotistic appointment of the president’s daughter as its chief, Angola’s scandal-ridden state-owned oil company is losing out on oil royalties to a company with unknown owners, writes Khadija Sharife
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/angola-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Mozambique</h2>
        <p>
        Despite claims that a massive agricultural development deal in Mozambique will benefit the country’s citizens, there are indications that the project is designed to benefit a select few and could leave 100,000 Mozambicans displaced, write Khadija Sharife, Luis Nhachote
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/mozambique/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>


<div class="row">
    <div class="col-md-4">
        <h2>Namibia</h2>
        <p>
        Two Namibian businessmen with ties to the South African arms deal scandal have been identified as clients of Mossack Fonseca, writes Shinovene Immanuel
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/namibia-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Botswana</h2>
        <p>
        An energy company previously accused by minority rights groups and environmentalists of hydraulic fracking in Botswana’s central district appears in the Panama Papers’ ‘list of shame’, write Ntibinyane Ntibinyane and Vincent Matumo
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/botswana-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>


<!-- FRENCH -->

<div class="row">
    <div class="col-md-4">
        <h2>Burkina Faso</h2>
        <p>
        Richard Warren Hitt. Ce nom est quasi inconnu de la plupart des Burkinabè. Et pourtant cet Américain, naturalisé burkinabèa pendant longtemps piloté le Pic du Nahouri— l'avion de l’ancien président, Blaise Compaoré. Or ce pilote est cité dans la fameuse affaire des Panama Papers, révélations sur les flux financiers illicites
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/burkina-faso-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Niger</h2>
        <p>
        Mohamed Rhissa Ali dit « Rimbo », patron de la société  Rimbo Transport voyageurs (RTV), militant très influent du principal parti au pouvoir au Niger, a inscrit son nom dans les documents de Panama Papers
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/niger-2/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
