<div class="row">
    <div class="col-md-4">
        <h2>Uganda</h2>
        <p>Leaked documents show the paper trail of the Heritage Oil and Gas Ltd Company’s attempts at avoiding tax payment in Uganda, writes TABU BUTAGIRA.</p>
        <a class="btn btn-default" href="{{ site.baseurl }}/uganda/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>DRC</h2>
        <p>Despite international laws stipulating disclosure of the origins of gold, a tranche of leaked documents points to unsavoury behaviour by tax havens trading in commodities, writes KHADIJA SHARIFE.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/drc/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Botswana</h2>
        <p>The president of Botswana’s highest court, Ian Kirby, has invested in seven offshore companies domiciled and registered in a tax haven of the British Virgin Islands, writes NTIBINYANE NTIBINYANE.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/botswana/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Senegal</h2>
        <p>Outre Mamadou Pouye (voir article précédent), d’autres grands hommes d’affaires sénégalais ont créé des sociétés off-shore grâce a la firme Mossack Fonseca,  sans qu’on puisse établir un lien entre ces sociétés et une quelconque activité illégale.Les documents de MF citent aussi l’architecte Pierre Goudiaby Atepa et l’entrepreneur  Aliou Sow de la Compagnie Sahélienne d’Entreprises (CSE).
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/senegal-goudaiby/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Mali</h2>
        <p>Seydou Kane, le puissant homme d’affaires gabono-malien, est dans le cercle des « petits princes » du Panama. C’est ce qu’on apprend dans les données internes de la firme Mossack-Fonseca qui nous sont parvenues. Le milliardaire a en effet créé deux sociétés offshore par l’entremise de ce cabinet d’avocats, basé à Panama City et spécialisé dans l’implantation de sociétés dans divers paradis fiscaux. Embourbé dans une affaire de blanchiment d’argent à Paris, le richissime Gabono-Malien a trouvé refuge dans le paradis offshore du Panama, où il se trouve être détenteur de deux grandes compagnies
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/mali/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Tunisia</h2>
        <p>Une fuite de documents internes de la firme Mossack Fonseca, obtenue par le journal allemand Süddeutsche Zeitung, permet de dévoiler le système de création de sociétés offshores via le Panama. Des citoyens tunisiens sont concernés. Une enquête internationale, menée par le consortium de journalistes @ICIJ montre dans le détail comment ces paradis fiscaux sont employés pour échapper à l’impôt et blanchir des fonds.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/tunisia/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <h2>Sierra Leone</h2>
        <p>Dodgy dealings within the Steinmetz Group seems to indicate undervaluing of diamonds, which is costing Sierra Leone tax payments, reports Khadija Sharife and Silas Gbandia.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/sierra-leone/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Senegal</h2>
        <p>Le procès pour enrichissement illicite de Karim Wade, fils de l’ancien président sénégalais Abdoulaye Wade, a connu son verdict il y a un an. Il s’était terminé avec la condamnation par la Cour de répression de l’enrichissement illicite (Crei) de M. Wade-fils et de ses co-accusés à des peines de prison ferme.
        </p>
        <a class="btn btn-default" href="{{ site.baseurl }}/senegal-wade/">Read Story</a>
    </div>
    <!-- /.col-md-4 -->
</div>
