@font-face {
  font-family: 'captured';
  src: url('/fonts/captured.ttf');
}

@font-face {
  font-family: 'captured_it';
  src: url('/fonts/Capture_it.ttf');
}

@font-face {
  font-family: 'captured_it_2';
  src: url('/fonts/Capture_it_2.ttf');
}

@font-face {
  font-family: 'damaged';
  src: url('/fonts/damaged.ttf');
}

@font-face {
  font-family: 'slabo';
  src: url('/fonts/Slabo27px-Regular.ttf');
}


@font-face {
  font-family: 'lora';
  src: url('/fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/Lora-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/Lora-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/Lora-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'afrileaks';
  src: url('/fonts/AfriLeaksOne-Regular.ttf');
}

@font-face {
  font-family: 'actnow';
  src: url('/fonts/Destroy.ttf');
}
