---
layout: default
---

<div class="page">

  <article class="post-content">
    <div class="container-content container" style="margin-top: 0;">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
          <h1>{{ page.title }}</h1>
          <br/>
            {{ content }}
            {% include funders.html %}
            <p class="text-justify">
            Open Society West Africa (OSIWA) provided iLAB support for French-speaking West African countries, corporate data and story grants. The World Wide Web Foundation supported Africa-wide iLAB support including corporate data, financial and prosecutorial editing as well as English and French editing. Code4Africa contributed technological expertise and financed story grants for non-West African countries.  <a href="http://journalismfund.eu/" target="_blank">Journalismfund.eu </a> provided assistance to ANCIR's in-house writers for Namibia, Angola and the Congo.
            </p>
            <hr>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Media Partners
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="panel panel-default">
              <!-- Default panel contents -->
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">1.</th>
                          <td>Tunisia</td>
                          <td><a href="https://inkyfada.com/" target="_blank">Inkyfada</a></td>
                      </tr>
                      <tr>
                        <th scope="row">2.</th>
                          <td>Botswana</td>
                          <td><a href="http://inkjournalism.org/" target="_blank">INK</a></td>
                      </tr>
                      <tr>
                        <th scope="row">3.</th>
                          <td>Namibia</td>
                          <td><a href="http://www.namibian.com.na/" target="_blank">Namibian</a></td>
                      </tr>
                      <tr>
                        <th scope="row">4.</th>
                          <td>Mali</td>
                          <td><a href="http://www.depechesdumali.com/" target="_blank">Depeches du Mali</a></td>
                      </tr>
                      <tr>
                        <th scope="row">5.</th>
                          <td>Senegal</td>
                          <td><a href="http://www.ouestaf.com/" target="_blank">Ouestaf</a></td>
                      </tr>
                      <tr>
                        <th scope="row">6.</th>
                          <td>Uganda</td>
                          <td><a href="http://www.monitor.co.ug/" target="_blank">Daily Monitor</a></td>
                      </tr>
                      <tr>
                        <th scope="row">7.</th>
                          <td>Kenya</td>
                          <td><a href="http://www.nation.co.ke/" target="_blank">Daily Nation</a></td>
                      </tr>
                      <tr>
                        <th scope="row">8.</th>
                          <td>Zimbabwe</td>
                          <td><a href="http://www.voazimbabwe.com/" target="_blank">Voice of America</a></td>
                      </tr>
                    </tbody>
                </table>
              
            </div>

        </div>
      </div>
    </div>
  </article>

</div>
