---
layout: default
---

<div class="page">

  <article class="post-content">
    <div class="container-content container" style="margin-top: 0;">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1>{{ page.title }}</h1>
          <br/>
            {{ content }}
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h2>Media Partners</h2></div>
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">1.</th>
                          <td>Tunisia</td>
                          <td>Inkyfada</td>
                      </tr>
                      <tr>
                        <th scope="row">2.</th>
                          <td>Botswana</td>
                          <td>INK</td>
                      </tr>
                      <tr>
                        <th scope="row">3.</th>
                          <td>Namibia</td>
                          <td>Namibian</td>
                      </tr>
                      <tr>
                        <th scope="row">4.</th>
                          <td>South Africa</td>
                          <td>ANCIR, Noseweek</td>
                      </tr>
                      <tr>
                        <th scope="row">5.</th>
                          <td>Mali</td>
                          <td>Depeches du Mali</td>
                      </tr>
                      <tr>
                        <th scope="row">6.</th>
                          <td>Senegal</td>
                          <td>Ouestaf</td>
                      </tr>
                      <tr>
                        <th scope="row">6.</th>
                          <td>Uganda</td>
                          <td>Daily Monitor</td>
                      </tr>
                      <tr>
                        <th scope="row">7.</th>
                          <td>Kenya</td>
                          <td>Nation</td>
                      </tr>
                      <tr>
                        <th scope="row">7.</th>
                          <td>DRC</td>
                          <td>ANCIR</td>
                      </tr>
                      <tr>
                        <th scope="row">8.</th>
                          <td>Sierra Leone</td>
                          <td>ANCIR</td>
                      </tr>
                      <tr>
                        <th scope="row">9.</th>
                          <td>Angola</td>
                          <td>ANCIR</td>
                      </tr>
                      <tr>
                        <th scope="row">10.</th>
                          <td>Zimbabwe</td>
                          <td>VoA</td>
                      </tr>
                    </tbody>
                </table>
              
            </div>

        </div>
      </div>
    </div>
  </article>

</div>
