*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#canvas{
    display: inline-block;
    min-height: auto;
    padding: 10px 0;
}
#canvas p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
#canvas li {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 1px;
    background-color: #a5a5a5;
    cursor: pointer;
    transition: all ease 1s;
    color: gainsboro;
    font-size: 10px;
    font-weight: 100;
}
li:hover{
    border: 1px solid #000;
    opacity: 0.9;
}
#places{
    width: 100%;
    border-top: 1px dotted #f0f0f0;
    padding-top: 20px;
}
#places .place{
    width: 24%;
    display: inline-block;
    padding-bottom: 80px;
}
#places .place h3{
    font-size: 18px;
    font-weight: 800;
}
#places .place li {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin: 1px;
    background-color: #a5a5a5;
    cursor: pointer;
    transition: all ease 1s;
}
input, button, select, textarea {
    border-radius: 0px;
    padding-left: 10px;
    height: 35px;
    width: 300px;
    color: #000;
    background: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid #000;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button, select {
    text-transform: none;
    user-focus: none;
    user-select: none;
    outline:none;
}
select:focus, button:focus, button::-moz-focus-inner, select::-moz-focus-inner {outline:none;}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.form-control{
    width: 280px;
    height: 34px;
    display: inline-block;
    padding: 6px 10px;
    font-size: 18x;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: url(../img/select.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #000;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin: 5px 0 8px 0;
}

.tooltip span{
    color: #a5a5a5;
    font-size: 13px;
}
.tooltip span strong{
    color: #b48080;
    font-weight: 900;
}
.tooltip span i{
    color: white;
    font-weight: 300;
    font-size: 15px;
}
.tooltip{
    position: absolute;
    background-color: black;
    width: 140px;
    height: 80px;
    display: none;
    border-radius: 5px;
    padding: 6px 10px;
}
.tooltip:before{
    content: '';
    width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid black;
    position: absolute;
    bottom: -15%;
    left: calc(50% - 15px);
}