*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
h2 {
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 10px;
}
h3 {
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
p span {
    font-weight: 800;
    font-size: 30px;
}
footer {
    position: absolute;
    font-size: 10px;
    font-family: sans-serif;
    color: #c7c7c7;
    padding: 1.5em;
}
.columns,
footer {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.columns{
    max-width: 800px;
    margin: 0 auto;
}
.left,
.right {
    /* border: 1px solid  #ccc;*/
    top: 0;
    padding: .1em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
}
#pharma,
#no-pharma {
    text-align: left;
}
footer {
    font-family: sans-serif;
    position: relative;
    margin: 20px auto;
    color: #999;
    font-size: 11px;
    max-width: 600px;
    left: -85px;
}
footer span {
    color: #b5adad;
    font-weight: 800;
    color: #838383;
}
#hint {
    background-image: url(../img/hint.png);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 88px;
    height: 88px;
    border-radius: 100%;
    position: absolute;
    bottom: calc(50% - 64px);
    right: calc(50% - 24px);
    background-color: white;
    padding: 10px;
    box-sizing: content-box;
    opacity: 0;
    border: 1px solid black;
}
#medicines {
    margin: 1em 2em 0em 2em;
    position: relative;
}
.detail{
    margin-top: 15px;
}
.right .detail h2{
    font-size: 21px;
}
.continent {
    position: relative;
    width: 100%;
    display: flex;
}
#america, #asia, #europe, #oceania {
    width: 25%;
    text-align: center;
    margin: 5px;
}
#colorKey{
    background-image: url(../img/colorKey.png);
    width: 160px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 51px;
    top: 40px;
    
}
/* MEDIA QUERIES */

@media screen and (min-width: 47.5em) {
    .left {
        width: 60%;
        height: auto;
        border-right: 1px dotted #000;
        text-align: left;
        padding: .1em 2em;
    }
    .right {
        margin-left: 60%;
        height: auto;
        position: absolute;
        top: 0;
        width: 40%;
        text-align: left;
        padding: 3.5em 2em;
    }
}